@charset "utf-8";
/* CSS Document */

.game-h2 {
	font-family:"黑体";
	font-size:24px;
	border-bottom:1px solid #333;
}

.game-box {
	width:175px;
	float:left;
}

.game-box a, a:visited {
	color:#000;
}

.game-item img {
	width:150px;
	height:100px;
	border:1px solid #666;
	margin:10px 10px 5px 10px;
}

.game-name {
	text-align:center;
}

.game-top {
	border-bottom:1px dashed #999;
	height:85px;
	margin-bottom:10px;
}

.game-top img {
	width:90px;
	height:60px;
	border:1px solid #666;
	padding:1px;
	margin:10px 10px 10px 0;
	float:left;
}

.game-top-name {
	padding:8px 0 0 0;
}

.game-top-des {
	color:#666;
}